body,html {
  height: 100%;
  background-color: darkkhaki;
}

.triv-card {
  background-color: lemonchiffon;
}

#trivia-box {
  position: absolute;
  top: 0;
  left:0;
  z-index:-1;
  bottom:0;
  right:0;
  height:50%;
  min-height: 250px;
}

#result-box {
  position: absolute;
  top: 0;
  left:0;
  z-index:-1;
  bottom:0;
  right:0;
  height:50%;
  min-height: 250px;
}

#stats-box {
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  bottom:0;
  right:0;
  height:50%;
  min-height: 250px;
}